<header>

    <p class="titulo">BARTER ⇄</p><br>
    
    <div class="ingreso">
        <a href="../login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
        <a href="../register">Registrate <i class="fas fa-user-plus"></i></a>
    </div>
    
    <input class="buscar" type="text" placeholder="Buscar productos">
    <i class="fas fa-search"></i>
    
    <div class="sub-cat">
        <a href="../productCreate">Publicar  </a></i>
        <a href="./misPublicaciones">Mis Publicaciones  </a></i>
        <a href="">Ayuda  </a></i>
    </div>
    
</header>