<header>
    <% if (locals.isLogged) { %>
        <a href="../"><p class="titulo">BARTER ⇄</p><br></a>
    
    
    <form method="POST" action="/" enctype="application/json">
        <input name="buscar" class="buscar" type="text" placeholder="Buscar productos">
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>

 
    
    <div class="sub-cat">
        <a href="../">Home <i class="fas fa-home"></i></a>
        <a href="../productCreate">Publicar <i class="fas fa-archive"></i></a>
        <a href="../misPublicaciones">Mis Publicaciones <i class="fas fa-store-alt"></i> </a>
        <a href="../userDetail">Hola <%= locals.userLogged.first_name %>  <i class="fas fa-user"></i></a>
        <a href="../chart">Carrito <i class="fas fa-cart-arrow-down"></i></a>
        <a href="/logout">Cerrar sesion <i class="fas fa-sign-out-alt"></i> </a>
   <!--    <img src="../public/images/avatars/<%= locals.userLogged.imagen %>" > -->
        
    </div>
    <% } else { %>
        <a href="../"><p class="titulo">BARTER ⇄</p><br></a>
    
        <div class="ingreso">
            <a href="../">Home <i class="fas fa-home"></i></a>
            <a href="../login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
            <a href="../register">Registrate <i class="fas fa-user-plus"></i></a>
        </div>

        <form method="POST" action="/" enctype="application/json">
         <input name="buscar" class="buscar" type="text" placeholder="Buscar productos">
         <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
        
        
 
        <% } %>
        
</header>