<header>
    <% if (locals.isLogged) { %>
    <p class="titulo">BARTER ⇄</p><br>
    
    
     
    <input class="buscar" type="text" placeholder="Buscar productos">
    <i class="fas fa-search"></i>
    
    <div class="sub-cat">
        <a href="../productCreate">Publicar  </a></i>
        <a href="./misPublicaciones">Mis Publicaciones  </a></i>
        <a href="./userDetail">Hola <%= locals.userLogged.first_name %>  </a></i>
        <a href="/logout">Cerrar sesion  </a></i>
   <!--    <img src="../public/images/avatars/<%= locals.userLogged.imagen %>" > -->
        
    </div>
    <% } else { %>
        <p class="titulo">BARTER ⇄</p><br>
    
        <div class="ingreso">
            <a href="../login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
            <a href="../register">Registrate <i class="fas fa-user-plus"></i></a>
        </div>
         
        <input class="buscar" type="text" placeholder="Buscar productos">
        <i class="fas fa-search"></i>
        
     
        <% } %>
</header>