<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head')%> 
<body>
  
    <header>
        <div class="encabezado">
             
            <a class="logo" href="/index2"><p class="titulo">BARTER ⇄</p></a><br>
            
            <div class="user">
                <a href=""> <i class="far fa-handshake"></i></a>
                <a href=""> <i class="far fa-star"></i></a>
                <a href=""> <i class="far fa-user"></i></a>
            </div>
        
        </div>
        
        <div class="search-var">
            
            <div class="buscador">
               <input class="buscar" type="text" placeholder="Buscar productos">
               <i class="fas fa-search"></i>
            </div>
    
            <div class="sub-cat">
                <a href="">Categorias  </a>
                <a href="">Historial  </a>
                <a href="">Ayuda  </a>
            </div>
            
        </div> 
       </header>
    
     <h1>AGREGAR PRODUCTO</h1>
       
       <form class="formato-formulario" action="/login" method="POST" class="create-form">
        <div class="control-formulario">
            <label>Nombre del Producto</label>
            <br>
            <br>
            <input type="text" name="nombre" class="placeholder" placeholder="Ingrese nombre del producto">
        </div>
        <br>
        <div class="control-formulario">
            <label>Localidad</label>
            <br>
            <br>
            <input type="text" name="usuario" class="placeholder" placeholder="Indique la localiad donde se encuentra el producto">
        </div>
        <br>
        <div class="control-formulario">
            <label>Descripcion</label>
            <br>
            <br>
            <input type="text" name="email" class="placeholder" placeholder="Indique una breve descripcion del producto">
        </div>
        <br>
        <div class=”control-formulario”>
            <label for="">Antiguedad del produco</label>
            <input type="date" name="fecha" placeholder="Fecha de nacimiento">
        </div>
        <br>
       
        <br>
        <div class="control-formulario">
            <label for="">¿Es el primer dueño?</label>
            <br>
            <br>
            <label for="">SI</label>
            <input type="radio" name="compra-venta" value="Comprar">
            <label for="">NO</label>
            <input type="radio" name="compra-venta" value="Vender">
        </div>
        <br>
        <div class="control-formulario">
            <label>Categorias del producto</label>
            <select name="categoria">
                <option value="">Seleccionar...</option>
                <option value="">Electro</option>
                <option value="">Moda</option>
                <option value="">Hogar</option>	
                <option value="">Jugueteria</option>
                <option value="">Vida Sana</option>
            </select>
        </div>
        <br>
        <div class="control-formulario">
            <label>Fotos del Producto</label>
            <input type="file" name="avatar">
        </div>
        <br>
        <br>
       
        <button type="submit" class="boton-formulario">Enviar</button>
        <button type="reset" class="boton-formulario">Borrar</button>
    
    </form>
    </body>
    
    </html>