<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head')%> 
<body>
    <%- include ('./partials/header')%> 
    
    <div class="carousel">     
        <div id="imagen"></div>    
    </div>

   <!-- <img class = "banner" src = "/images/banner_3.png" alt = "Home Banner" width="340px">
    
    <!--<p class="frase"> "El lugar donde aquello que no usas se puede convertir en aquello que deseas" </p>-->

    <main>

        <%- include ('./partials/productsChart')%> 
        

    </main>

    <%- include ('./partials/footer')%> 
  
</body>
</html>
