<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head')%> 
    <header>

        <p class="titulo">BARTER ⇄</p><br>
        
        <div class = "user">
            <a href="/productCart"><i class="far fa-handshake"></i></a>
            <a href=""> <i class="far fa-star"></i></a>
            <a href=""><i class="far fa-user"></i></a> 
        </div>
        
        <input class="buscar" type="text" placeholder="Buscar productos">
        <i class="fas fa-search"></i>
        
        <div class="sub-cat">
            <a href="/agregarProd">Agregar Producto  </a></i>
            <a href="">Historial  </a></i>
            <a href="">Ayuda  </a></i>
        </div>
        
    </header>
    
    <img class = "banner" src = "/images/banner_3.png" alt = "Home Banner" width="340px">
    
    <!--<p class="frase"> "El lugar donde aquello que no usas se puede convertir en aquello que deseas" </p>-->

    <main>

        <div>
            <p class = "publicaciones"><b>PUBLICACIONES</b></p>
        </div>

        <article>
            
            <a href="./productDetailParlante"><img src= "/images/parlante.png" alt = "Parlante" width = "340px" ></a>

            <section>
                <p class="articulo">Parlante JBL</p> 
                <p class="ubicacion"><i class="fas fa-map-marked-alt"></i>  Palermo</i></p>
            </section>

        </article>

        <article>
           
            <a href="./productDetailBicicleta"> <img src= "/images/bicicleta.png" alt = "Bicicleta" width = "340px"></a>

            <section>
                <p class="articulo">Bicicleta</p>
                <p class="ubicacion"><i class="fas fa-map-marked-alt"></i>  Tigre</i></p>
            </section>
        </article>

        <article>
            <a href="./productDetailMicro">   <img src= "/images/microondas.png" alt = "Microondas" width = "340px"></a>
    
            <section>
                <p class="articulo">Microondas</p>
                <p class="ubicacion"><i class="fas fa-map-marked-alt"></i>  Moreno</i></p>
            </section>
    
        </article>

        <article>
            <a href="./productDetailReposera"> <img src= "/images/reposera.png" alt = "Parlante" width = "340px"></a>
    
            <section>
                <p class="articulo">Reposera</p>
                <p class="ubicacion"><i class="fas fa-map-marked-alt"></i>  Caballito </i></p>
            </section>
    
        </article>

    </main>

    <%- include ('./partials/footer')%> 

</body>
</html>
