<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barter</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Aleo&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>

        <h1 class="titulo">BARTER</h1><br>
        
        <div class="ingreso">
            <a href="">Ingresá <i class="fas fa-sign-in-alt"></i></a>
            <a href="">Registrate <i class="fas fa-user-plus"></i></a>
        </div>

        <input class="buscar" type="text" placeholder="Buscar productos">
        <i class="fas fa-search"></i>

        <div class="sub-cat">
            <a href="">Categorias  </a></i>
            <a href="">Historial  </a></i>
            <a href="">Ayuda  </a></i>
        </div>

    </header>

    <img class = "banner" src = "/images/hamburguesa-mac.jpg" alt = "Home Banner" width="340px">

    <h4 class="frase"> "El lugar donde aquello que no usas se puede convertir en aquello que deseas" </h4>

    <main>

        <div>
            <p class = "publicaciones"><b>PUBLICACIONES</b></p>
        </div>

        <article>
            <img src= "/images/parlante.png" alt = "Parlante" width = "340px">

            <section>
                <p class="articulo">Parlante JBL </p> 
                <p class="ubicacion"><i class="fas fa-map-marked-alt"></i> Palermo </i></p>
            </section>

        </article>

        <article>
            <img src= "/images/bicicleta.png" alt = "Parlante" width = "340px">

            <section>
                <p class="articulo">Bicicleta</p>
                <p class="ubicacion"><i class="fas fa-map-marked-alt"></i> Tigre </i></p>
            </section>
        </article>

        <article>
            <img src= "/images/microondas.png" alt = "Parlante" width = "340px">
    
            <section>
                <p class="articulo">Microondas</p>
                <p class="ubicacion"><i class="fas fa-map-marked-alt"></i> Moreno </i></p>
            </section>
    
        </article>

        <article>
            <img src= "/images/reposera.png" alt = "Parlante" width = "340px">
    
            <section>
                <p class="articulo">Reposera</p>
                <p class="ubicacion"><i class="fas fa-map-marked-alt"></i> Caballito </i></p>
            </section>
    
        </article>

    </main>

    <footer>
        <p> Copyright © 1999-2020 Barter S.A. </p>
    </footer>

</body>
</html>
