<!DOCTYPE html>
<html lang="en" class = "html-login">
    <%- include ('./partials/head')%> 
<body>
    <header>
        <a class="logo" href="/"><p class="titulo">BARTER ⇄</p></a><br>
    </header>   

    <a href="/"><i class="fas fa-arrow-left"> </i> </a>
    <p class = "bienvenido" ><b>¡Bienvenido!</b></p>
    
    <form method="POST" action="./login">
        <label><b>Correo electrónico:</b></label>
        <input type="text" name="email" class="form-control">
        <div class="invalid-feedback">

        <div class="usuario">
            <label><b>Password:</b></label>
            <input type="password" name="password" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
</body>
</html>