<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barter</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Aleo&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Comforter&family=Roboto:wght@100;400&family=Viga&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comforter&family=Fredericka+the+Great&family=Monoton&family=Roboto:wght@100;400&family=Viga&display=swap" rel="stylesheet">
</head>

<body>
  
   <header>
    <div class="encabezado">
         
        <a class="logo" href="/"><p class="titulo">BARTER ⇄</p></a><br>
        
        <div class="user">
            <a href=""> <i class="far fa-handshake"></i></a>
            <a href=""> <i class="far fa-star"></i></a>
            <a href=""> <i class="far fa-user"></i></a>
        </div>
    
    </div>
    
    <div class="search-var">
        
        <div class="buscador">
           <input class="buscar" type="text" placeholder="Buscar productos">
           <i class="fas fa-search"></i>
        </div>

        <div class="sub-cat">
            <a href="">Categorias  </a>
            <a href="">Historial  </a>
            <a href="">Ayuda  </a>
        </div>
        
    </div> 
   </header>
   
    <main>
       <div class="intercambio">
         <p class="adquiero">Producto que adquiero</p>

         <p class="entrego">Producto que entrego</p>
       </div>
       
       <button class="eliminar"><a href="">Eliminar  <i class="fas fa-trash-alt"></i></a></button>
    
       <div class="seguirConfirmar">
         <button class="seguirBuscando"><p><i class="fas fa-arrow-left"></i>              SEGUIR BUSCANDO</p></button> 
       
         <button class="confirmarTrueque"><p>CONFIRMAR TRUEQUE   <i class="fas fa-arrow-right"></i></p></button>
        </div>
    
    </main>
</body>

</html>