<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head')%> 
<body>
    
    <%- include ('./partials/header')%> 
    
    <img class = "banner" src = "/images/banner_3.png" alt = "Home Banner" width="340px">
    
    <!--<p class="frase"> "El lugar donde aquello que no usas se puede convertir en aquello que deseas" </p>-->

    <main>

        <div>
            <p class = "tituloArticulo"><b>Parlante JBL GO 2</b></p>
           
            </ul>
        </div>

        <article>
            
            <div class="descripcionArticulo">
                <a href="./productDetailParlante">Creá tu cuenta </a>
                <img src= "/images/parlante.png" alt = "Parlante" width = "340px">
                <P class="textoDescripcion">Parlante JBL Go 2 portátil con bluetooth ruby red 110V/220V
                                Es manos libres.
                                Apto para uso en exteriores.
                                Es a prueba de agua.
                                Con conectividad bluetooth.
                                Batería recargable y cargador incluido.
                                Potencia de 3.1W.
                                Conector de entrada: Miniplug.
                                Dimensiones: 86mm de ancho, 71.2mm de alto y 31.6mm de profundidad.
                </P>
            </div>
                
            <section>
                <img src= "/images/parlante1.png" alt = "Parlante" width = "140px">
                <img src= "/images/parlante2.png" alt = "Parlante" width = "140px">
                <img src= "/images/parlante3.png" alt = "Parlante" width = "140px">
                <img src= "/images/parlante4.png" alt = "Parlante" width = "140px">
            </section>

        </article>

       

    </main>

    <%- include ('./partials/footer')%> 

</body>
</html>