<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head')%> 
<body>
   
    <%- include ('./partials/header')%> 
    
    <img class = "banner" src = "/images/banner_3.png" alt = "Home Banner" width="340px">
    
    <!--<p class="frase"> "El lugar donde aquello que no usas se puede convertir en aquello que deseas" </p>-->

    <main>

        <div>
            <p class = "tituloArticulo"><b>Reposera Camastro De Madera Incienso Y Acolchado</b></p>
           
            </ul>
        </div>

        <article>
            
            <div class="descripcionArticulo">
                <a href="/productDetailReposera">Creá tu cuenta </a>
                <img src= "/images/reposera.png" alt = "reposera" width = "340px">
                <P class="textoDescripcion">Reposera camastro. Material madera incienso, respaldo 3 posiciones con 2 ruedas de madera para movilidad, acolchado de tela y esponja.
                    Medidas : 2,00 x 0,70 x 0,25 h.
                    Es usado en buenas condiciones. Detalles tapizado de decoloro por el sol.
                </P>
            </div>
                
            <section>
                <img src= "/images/reposera1.png" alt = "reposera" width = "140px">
                <img src= "/images/reposera2.png" alt = "reposera" width = "140px">
                <img src= "/images/reposera3.png" alt = "reposera" width = "140px">
                <img src= "/images/reposera4.png" alt = "reposera" width = "140px">
            </section>

        </article>

       

    </main>

    <%- include ('./partials/footer')%> 

</body>
</html>