<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barter</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon-barter.png">
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Aleo&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Comforter&family=Roboto:wght@100;400&family=Viga&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comforter&family=Fredericka+the+Great&family=Monoton&family=Roboto:wght@100;400&family=Viga&display=swap" rel="stylesheet">
</head>
<body>
    <header>

        <a class="logo" href="/"><p class="titulo">BARTER ⇄</p></a><br>
        
        <div class="ingreso">
            <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
            <a href="">Registrate <i class="fas fa-user-plus"></i></a>
        </div>
        
        <input class="buscar" type="text" placeholder="Buscar productos">
        <i class="fas fa-search"></i>
        
        <div class="sub-cat">
            <a href="">Categorias  </a></i>
            <a href="">Historial  </a></i>
            <a href="">Ayuda  </a></i>
        </div>
        
    </header>
    
    <img class = "banner" src = "/images/banner_3.png" alt = "Home Banner" width="340px">
    
    <!--<p class="frase"> "El lugar donde aquello que no usas se puede convertir en aquello que deseas" </p>-->

    <main>

        <div>
            <p class = "tituloArticulo"><b>Bicicleta de Paseo</b></p>
           
            </ul>
        </div>

        <article>
            
            <div class="descripcionArticulo">
                <a href="/productDetailbicicleta">Creá tu cuenta </a>
                <img src= "/images/bicicleta.png" alt = "bicicleta" width = "340px">
                <P class="textoDescripcion">Bicicleta Vintage Dama marca Stromberg modelo Hebe, 
                    el único detalle estético más relevante es el estado del manubrio (saltado el cromo, como se ve en la foto No 6)
                    no tiene canasto. Rodado 26. Muy buen estado general.
                </P>
            </div>
                
            <section>
                <img src= "/images/bicicleta1.png" alt = "bicicleta" width = "140px">
                <img src= "/images/bicicleta2.png" alt = "bicicleta" width = "140px">
                <img src= "/images/bicicleta3.png" alt = "bicicleta" width = "140px">
                <img src= "/images/bicicleta4.png" alt = "bicicleta" width = "140px">
            </section>

        </article>

       

    </main>

    <footer>
        <p> Copyright © 1999-2020 Barter S.A. </p>
    </footer>

</body>
</html>