<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head')%> 
<body>
  
    <%- include ('./partials/header')%> 
    
     <h1>AGREGAR PRODUCTO</h1>
       
       <form class="formato-formulario" action="/productCreate" method="POST" class="create-form">
        <div class="control-formulario">
            <label>Nombre del Producto</label>
            <br>
            <br>
            <input type="text" name="nombre_producto" class="placeholder" placeholder="Ingrese nombre del producto a publicar">
        </div>
        <br>
        <div class="control-formulario">
            <label>Valor</label>
            <br>
            <br>
            <input type="text" name="valor" class="placeholder" placeholder="Indique el valor del producto a publicar">
        </div>
        <div class="control-formulario">
            <label>Localidad</label>
            <br>
            <br>
            <input type="text" name="ubicacion" class="placeholder" placeholder="Indique la localiad donde se encuentra el producto">
        </div>
        <div class="control-formulario">
            <label for="">¿Es nuevo o usado?</label>
            <br>
            <br>
            <label for="">Usado</label>
            <input type="radio" name="usado" value="true">
            <label for="">Nuevo</label>
            <input type="radio" name="usado" value="false">
        </div>

        <br>
        <div class="control-formulario">
            <label>Descripcion</label>
            <br>
            <br>
            <input type="text" name="email" class="placeholder" placeholder="Indique una breve descripcion del producto">
        </div>
        <br>
        <%/* comment         <div class=”control-formulario”>
            <label for="">Antiguedad del produco</label>
            <input type="date" name="fecha" placeholder="Fecha de nacimiento">
        </div>
        <br>
       
        <br>
        <div class="control-formulario">
            <label for="">¿Es el primer dueño?</label>
            <br>
            <br>
            <label for="">SI</label>
            <input type="radio" name="compra-venta" value="Comprar">
            <label for="">NO</label>
            <input type="radio" name="compra-venta" value="Vender">
        </div>
        <br>
        <div class="control-formulario">
            <label>Categorias del producto</label>
            <select name="categoria">
                <option value="">Seleccionar...</option>
                <option value="">Electro</option>
                <option value="">Moda</option>
                <option value="">Hogar</option>	
                <option value="">Jugueteria</option>
                <option value="">Vida Sana</option>
            </select>
        </div>*/%>
        <br>
        <div class="control-formulario">
            <label>Fotos del Producto</label>
            <input type="file" name="imagen">
        </div>
        <br>
        <br>
       
        <button type="submit" class="boton-formulario">Enviar</button>
        <button type="reset" class="boton-formulario">Borrar</button>
    
    </form>
    </body>
    
    </html>