<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head')%> 
<body>
    <%- include ('./partials/header')%> 
    
    <img class = "banner" src = "/images/banner_3.png" alt = "Home Banner" width="340px">
    
    <!--<p class="frase"> "El lugar donde aquello que no usas se puede convertir en aquello que deseas" </p>-->

    <main>

        <div>
            <p class = "tituloArticulo"><b>Bicicleta de Paseo</b></p>
           
            </ul>
        </div>

        <article>
            
            <div class="descripcionArticulo">
                <a href="./productDetailbicicleta">Creá tu cuenta </a>
                <img src= "/images/bicicleta.png" alt = "bicicleta" width = "340px">
                <P class="textoDescripcion">Bicicleta Vintage Dama marca Stromberg modelo Hebe, 
                    el único detalle estético más relevante es el estado del manubrio (saltado el cromo, como se ve en la foto No 6)
                    no tiene canasto. Rodado 26. Muy buen estado general.
                </P>
            </div>
                
            <section>
                <img src= "/images/bicicleta1.png" alt = "bicicleta" width = "140px">
                <img src= "/images/bicicleta2.png" alt = "bicicleta" width = "140px">
                <img src= "/images/bicicleta3.png" alt = "bicicleta" width = "140px">
                <img src= "/images/bicicleta4.png" alt = "bicicleta" width = "140px">
            </section>

        </article>

       

    </main>

    <%- include ('./partials/footer')%> 

</body>
</html>