<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barter</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Aleo&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Comforter&family=Roboto:wght@100;400&family=Viga&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comforter&family=Fredericka+the+Great&family=Monoton&family=Roboto:wght@100;400&family=Viga&display=swap" rel="stylesheet">
</head>
<body>
    <header>

        <a class="logo" href="/"><p class="titulo">BARTER ⇄</p></a><br>
        
        <div class="ingreso">
            <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
            <a href="">Registrate <i class="fas fa-user-plus"></i></a>
        </div>
        
        <input class="buscar" type="text" placeholder="Buscar productos">
        <i class="fas fa-search"></i>
        
        <div class="sub-cat">
            <a href="">Categorias  </a></i>
            <a href="">Historial  </a></i>
            <a href="">Ayuda  </a></i>
        </div>
        
    </header>
    
    <img class = "banner" src = "/images/banner_3.png" alt = "Home Banner" width="340px">
    
    <!--<p class="frase"> "El lugar donde aquello que no usas se puede convertir en aquello que deseas" </p>-->

    <main>

        <div>
            <p class = "tituloArticulo"><b>Reposera Camastro De Madera Incienso Y Acolchado</b></p>
           
            </ul>
        </div>

        <article>
            
            <div class="descripcionArticulo">
                <a href="/productDetailReposera">Creá tu cuenta </a>
                <img src= "/images/reposera.png" alt = "reposera" width = "340px">
                <P class="textoDescripcion">Reposera camastro. Material madera incienso, respaldo 3 posiciones con 2 ruedas de madera para movilidad, acolchado de tela y esponja.
                    Medidas : 2,00 x 0,70 x 0,25 h.
                    Es usado en buenas condiciones. Detalles tapizado de decoloro por el sol.
                </P>
            </div>
                
            <section>
                <img src= "/images/reposera1.png" alt = "reposera" width = "140px">
                <img src= "/images/reposera2.png" alt = "reposera" width = "140px">
                <img src= "/images/reposera3.png" alt = "reposera" width = "140px">
                <img src= "/images/reposera4.png" alt = "reposera" width = "140px">
            </section>

        </article>

       

    </main>

    <footer>
        <p> Copyright © 1999-2020 Barter S.A. </p>
    </footer>

</body>
</html>