<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head')%> 
<body>
    <%- include ('./partials/header')%> 
    
    <img class = "banner" src = "/images/banner_3.png" alt = "Home Banner" width="340px">
    
    <!--<p class="frase"> "El lugar donde aquello que no usas se puede convertir en aquello que deseas" </p>-->

    <main>

        <div>
            <p class = "tituloArticulo"><b>Microondas Bgh Litton Generation Ii Marron Con Bandeja Losa</b></p>
           
            </ul>
        </div>

        <article>
            
            <div class="descripcionArticulo">
                <a href="./productDetailMicro">Creá tu cuenta </a>
                <img src= "/images/microondas.png" alt = "Parlante" width = "340px">
                <P class="textoDescripcion">MICROONDAS BGH LITTON GENERATION II
                    GRAN CAPACIDAD
                    INCLUYE BANDEJA PARA DESCONGELAR
                    REVESTIDO EN SIMIL MADERA
                    ANDA PERFECTO, LO CAMBIAMOS SOLO POR REMODELACIÓN DE ESTILO
                </P>
            </div>
                
            <section>
                <img src= "/images/micro1.png" alt = "micro" width = "140px">
                <img src= "/images/micro2.png" alt = "micro" width = "140px">
                <img src= "/images/micro3.png" alt = "micro" width = "140px">
                <img src= "/images/micro4.png" alt = "micro" width = "140px">
            </section>

        </article>

       

    </main>

    <%- include ('./partials/footer')%> 

</body>
</html>