<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barter</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Aleo&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1 class = "titulo"> BARTER </h1><br>
    </header>   
        <form action="/" method="POST" class="create-form">
            <div class="control-formulario">
                <label></label>
                <input type="text" name="nombre" class="control" placeholder="Nombre y Apellido:">
                <span class="feedback"></span>
            </div>
    
            <div class="control-formulario">
                <label></label>
                <input type="text" name="usuario" class="control" placeholder="Nombre de usuari@">
            </div>
            
            <div class=”control-formulario”>
                <label  for="">Fecha de Nacimiento:  </label>
                <input  input type="date" name="fecha">
            </div>
    
            <div class="control-formulario">
                <label for=""></label>
                <input type="text" name="domicilio" class="control" placeholder="Domicilio">
            </div>
    
            <div class="control-formulario">
                <label for="">Perfil del usuario</label>
                <label for="">Comprar</label>
                <input type="radio" name="compra-venta" value="Comprar">
                <label for="">Vender</label>
                <input type="radio" name="compra-venta" value="Vender">
            </div>
    
            <div class="control-formulario">
                <label>Categorias de interes:</label>
                <select name="categoria">
                    <option value="">Electro</option>
                    <option value="">Moda</option>
                    <option value="">Hogar</option>	
                    <option value="">Jugueteria</option>
                    <option value="">Vida Sana</option>
                </select>
            </div>
    
            <div class="control-formulario">
                <label>Foto de Usuario:</label>
                <input type="file" name="avatar">
            </div>
    
            <div class="control-formulario">
                <label>Contraseña:</label>
                <input type="password" name="contraseña" class="control">
            </div>
    
            <div class="control-formulario">
                <label>Confirmar Contraseña:</label>
                <input type="password" name="contraseña" class="control">
            </div>
    
            <button type="submit" class="boton-formulario">Enviar</button>
            <button type="reset" class="boton-formulario">Borrar</button>
        
        </form>

       
</body>
</html>