html{
    font-family: Roboto;
    background-color: rgb(0, 0, 0);
}

.titulo {
    color: white;
    text-align: center;
    font-size: 65px;
    margin: -0.1%;
    border-bottom: solid 2px rgb(255, 255, 255);
    /*font-family: 'Viga', sans-serif;*/
    font-family: 'Fredericka the Great', cursive;
}

.ingreso {
    text-align: center;
    margin-top: -1%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: white;
}

i {
    color:white;
    font-size:22px;
}



.buscar, .fas fa-search {
    width: 85%;
    margin: 10px;
}

.buscar {
    height: 35px;
    font-size: 15px;
    border-radius:20px;
}

.sub-cat {
    text-align: center;
    margin-top: -1%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
}

.banner {
    display: flex;
    margin-bottom: 10px;
    
    justify-content: center;
    width: 100%;

}

.frase {
    color: rgb(155, 155, 155);
    font-size: 16px;
    font-family: 'Viga', sans-serif;
}

.publicaciones {
    margin-top: 30px;
    font-size: 24px;
    
       
    color: rgb(255, 255, 255);
}

article {
    padding-top: 20px;
    text-align: center;
    background-color: white;
    margin-bottom: 10px;
    border: solid 2px #8a8888;
    width: 100%;
    border-radius:5px;
}

.articulo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 5px;
    font-family: 'Viga', sans-serif;    
    text-align: center;
}

.ubicacion {
    font-size: 24px;
    text-align: center;
    margin-left: 5px;
    font-family: 'Viga', sans-serif;    
    color: rgb(92, 92, 92);
    margin-top: -20px;
}

.ubicacion i {
    color: rgb(92, 92, 92);
}

footer {
    text-align: center;
    color: white;
}

.bienvenido {
    text-align: center;
    font-size: 25px;
}

.html-login {
    background-color: #c4c4c4;
}

form {
    background-color: white;
    margin: 15px;
    padding: 25px;
    border-radius: 7px;
}

.usuario {
    padding: 5px;
    border-radius: 7px;
}

.usuario input {
    font-size: 12px;
}

.ingresar {
    padding: 3px;
    font-size: 12px;
    background-color: #c4c4c4;
    border-radius: 7px;
    margin-top: 13px;
    align-items: center;
}

.control {
    width: 100%;
}

/* estilos para detalle de articulo */

.tituloArticulo {
    margin-top: 30px;
    font-size: 24px;
    text-align: center;
    color: white;
}

.descripcionArticulo {
    display: flex;
    justify-content:center;
    padding: 10px;
}

.textoDescripcion {
    text-align: left;
    padding: 12px;
}
.formato-formulario {
    background-color: black;
    color: white;
    font-family: Roboto;
    margin: -10px;
}

.placeholder {
    border-color: white;
    width: 100%;
    font-family: Roboto;
    border: 2px;
    padding: 3px;
}